.impostometro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #impostometro {
    max-width: 100%;
    height: auto;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}